.game-list-container {
    width: 770px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
}

.game-list-item {
    width: 750px;
    height: 600px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    border: 1px solid #000;
    margin: 10px;
}