.game-project-content {
    width: 350px;
    height: auto;
    max-height: 750px;
    display: flex;

    .game-project-title {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}