:global(html){
    height: 100%;
    width: 100%;
    margin: 0px;
}

:global(body){
    height: 100%;
    width: 100%;
    margin: 0px;
}

:global(#main) {
    height: 100%;
    width: 100%;
    background-image: url(bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}